/* Delete.css */

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.divv22 {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
   margin-bottom: 500px;
}

.h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.butt {
  padding: 10px 20px;
  background-color: #ff4d4f;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.butt:hover {
  background-color: #d9363e;
}
